.App {
  text-align: center;
}

  /* Nav Bar */ 

 nav.navbar{
  background-color:  #1D53BE !important;
   
}
.navbar-brand,
.nav-link{
  color:#fff !important;
}

.navbar-brand:hover,
.nav-link:hover{
  color:rgb(204, 204, 204) !important;
} 
